{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Supplements Shop</title>
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body>
  <header>
    <h1>Thực phẩm bổ sung</h1>
    <a href="{% url 'home' %}">Trang chủ</a>
  </header>
  <form action="{% url 'search' %}" method="get" class="flex items-center">
    <input type="text" name="q" placeholder="Tìm kiếm sản phẩm..." class="border px-2 py-1 rounded">
    <button type="submit" class="ml-2 px-3 py-1 bg-blue-500 text-white rounded">Tìm</button>
  </form>
  {% block content %}{% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
 <script>
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          toastr.error("{{ message|escapejs }}");
        {% elif message.tags == 'warning' %}
          toastr.warning("{{ message|escapejs }}");
        {% elif message.tags == 'info' %}
          toastr.info("{{ message|escapejs }}");
        {% else %}
          toastr.success("{{ message|escapejs }}");
        {% endif %}
      {% endfor %}
    {% endif %}
  </script>

</body>
</html>