{% load static %}
<!DOCTYPE html>
<html>
<header style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px;">
  <h1>Thực phẩm bổ sung</h1>
  
  <div>
    {% if user.is_authenticated %}
      <a href="{% url 'my_orders' %}" class="btn btn-link">Đơn hàng của tôi</a> |
      <a href="{% url 'logout' %}" class="btn btn-link">Đăng xuất</a>
    {% else %}
      <a href="{% url 'login' %}" class="btn btn-link">Đăng nhập</a> |
      <a href="{% url 'register' %}" class="btn btn-link">Đăng ký</a>
    {% endif %}
  </div>
</header>
<nav style="margin-left: 20px; margin-bottom: 20px;">
  <a href="{% url 'home' %}">Trang chủ</a>
</nav>

  <form action="{% url 'search' %}" method="get" class="flex items-center">
    <input type="text" name="q" placeholder="Tìm kiếm sản phẩm..." class="border px-2 py-1 rounded">
    <button type="submit" class="ml-2 px-3 py-1 bg-blue-500 text-white rounded">Tìm</button>
  </form>
  {% block content %}{% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
 <script>
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          toastr.error("{{ message|escapejs }}");
        {% elif message.tags == 'warning' %}
          toastr.warning("{{ message|escapejs }}");
        {% elif message.tags == 'info' %}
          toastr.info("{{ message|escapejs }}");
        {% else %}
          toastr.success("{{ message|escapejs }}");
        {% endif %}
      {% endfor %}
    {% endif %}
  </script>

</body>
</html>