{% extends 'app/base.html' %}
{% load custom_filters %}


{% block content %}
<h1>{{ product.name }}</h1>

<img src="{{ product.image.url }}" width="300" alt="{{ product.name }}">

<p><strong>Giá:</strong> {{ product.price|floatformat:2 }} đ</p>

<form action="{% url 'cart_add' product.id %}" method="post">
  {% csrf_token %}

  {% if product.weight_options %}
  <label>Chọn khối lượng:</label>
  <select name="weight">
    {% for weight in product.weight_options|split_by:"," %}
      <option value="{{ weight|trim }}">{{ weight }}</option>
    {% endfor %}

  </select>
  <br>
  {% endif %}

  {% if product.flavor_options %}
  <label>Chọn hương vị:</label>
  <select name="flavor">
    {% for flavor in product.flavor_options|split_by:"," %}
      <option value="{{ flavor|trim }}">{{ flavor }}</option>
    {% endfor %}

  </select>
  <br>
  {% endif %}

  <label>Số lượng:</label>
  <input type="number" name="quantity" value="1" min="1"><br>

  <button type="submit">🛒 Thêm vào giỏ</button>
</form>

<h4>Mô tả sản phẩm:</h4>
<p>{{ product.description }}</p>
{% endblock %}
